<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Thông tin đơn hàng  mới từ khách hàng {{MemberName}}</title>
    <style>
        .span-id {
            color: rgb(68, 226, 255);
            font-weight: bold;
            cursor: pointer;
        }

        table, tr, th, td {
            border: 1px solid rgb(68, 226, 255);
            border-collapse: collapse;
            padding: 5px;
        }

        table {
            width: 100%;
        }

        .div-footer {
            color: mediumpurple;
        }
    </style>
</head>
<body>
    Xin chào <strong><b>{{MemberName}}</b></strong>, <br /><br />

    Cảm ơn quý khách đã đặt vé, mã đơn hàng của bạn là:
    <span class="span-id">#{{OrderID}}</span>.
    <br />
    <br />

    <span class="span-id">THÔNG TIN ĐƠN HÀNG:</span>

    <table>
        <thead>
            <tr>
                <th>Tên phim</th>
                <th>Thể loại</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Thời gian chiếu</th>
                <th>Vị trí ghế</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{Name}}</td>
                <td>{{Category}}</td>
                <td>{{Price}}</td>
                <td>{{Count}}</td>
                <td>{{DateShow}}</td>
                <td>{{Seat}}</td>
            </tr>
            <tr>
                <td colspan="5">Tổng tiền: </td>
                <td>{{TotalPrice}}</td>
            </tr>
        </tbody>
    </table>

    <br />
    <br />

    <div class="div-footer">
        ------------------------------------------------------- <br />
        Huỳnh Ngọc Sơn  <br />
        Student - University of Information Technology – Vietnam National University HCMC   <br />
        Mobile: <b>0359521032</b>   <br />
        Facebook: <a href="https://m.me/HuynhNgocSon123">https://m.me/HuynhNgocSon123</a> <br />
    </div>
</body>
</html>