<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .span-otp {
            color: rgb(68, 226, 255);
            font-weight: bold;
            cursor: pointer;
        }

        .div-footer {
            color: mediumpurple;
        }
    </style>
</head>
<body>
    Xin chào <strong><b>{{MemberName}}</b></strong>, <br /><br />

    Chúng tôi đã nhận được yêu cầu đổi lại mật khẩu của bạn, mã OTP của bạn là: <span class="span-otp">{{OTP}}</span>.
    <br />
    <br />

    All best.

    <br />
    <br />

    <div class="div-footer">
        ------------------------------------------------------- <br />
        Huỳnh Ngọc Sơn  <br />
        Student - University of Information Technology – Vietnam National University HCMC   <br />
        Mobile: <b>0359521032</b>   <br />
        Facebook: <a href="https://m.me/HuynhNgocSon123">https://m.me/HuynhNgocSon123</a> <br />
    </div>

</body>
</html>